/* Estilos específicos para la página de mensaje */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evitar barras de desplazamiento */
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    background: #020202;
    color: #f4f5f7;
    font-family: "Arial", sans-serif;
    text-align: center;
    position: relative; 
}

.header {
    font-size: 3em;
    margin-bottom: 30px;
    animation: fadeInHeader 1.5s forwards;
}

.messages {
    width: 100%;
}

.message {
    font-size: 2em;
    margin: 10px 0;
    opacity: 0;
    line-height: 1.4;
    animation: fadeInMessages 1.5s ease forwards;
}

.flower {
    position: absolute;
    width: 50px; /* Tamaño de la florecita aumentado ligeramente */
    height: auto;
    animation: move 15s linear infinite;
    pointer-events: none; 
    z-index: 0;
    opacity: 0.7;
}

@keyframes move {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-30px) translateX(10px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes fadeInHeader {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInMessages {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
